* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("/images/manga-bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    margin: 0;
    height: 100%;
    user-select: none;
    font-family: sans-serif;
    padding: 2rem;
}

.container {
    background:linear-gradient(to left bottom, rgba(0,0,0,0.5), transparent);
    margin: 0 auto; /* does not really make much difference here*/
    height: 98%;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.poker-table {
    background-image: url(./images/poker-table.jpg);
    background-size: cover;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80vw;
    height: 40vh;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.help-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 3%;
}

.game-heading {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2rem;
    position: fixed;
    left: calc(50% - 5rem);
    top: 5rem;
    z-index: 1;
    cursor: pointer;
    color: rgb(233, 175, 27);
}

.player-heading {
    color: #D4AF37;
    font-family: 'Permanent Marker', sans-serif;
    position: relative;
    top: 4.7rem;
}

.player-heading__sm {
    text-align: center;
    font-size: 4.5rem;
}

.player-div__1,.player-div__2 {
    display: none;
}

.play-icon {
    position: fixed;
    width: 3rem;
    height: 3rem;
    top: 83vh;
    left: calc(50vw - 1.5rem);
    cursor: pointer;
}

.card-input {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /* top: 70vh; */
    top: 72vh;
    color: #555;
    font-size: 1.125rem;
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
    padding: 0.625rem;
    width: 10rem;
    text-transform: uppercase;
}

.backdrop {
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}

.model {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #D4AF37;
    background-color: rgb(0, 0, 0, 0.90);
    /* padding: 2rem 6rem; */
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255, 0.25);
    width: 90vw;
    height: 65vh;
    /* height: 50vh; */
    padding: 2rem;
    display: none;
}

.model .model-title {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3rem;
    color: rgb(85, 14, 14);
    text-align: center;
    /* padding: 0.5rem; */
    /* margin: 1rem 0; */
    margin-top: 2rem;
    position: absolute;
    top: 4.5rem;
    left: calc(50% - 5rem);
}

.model .model-description {
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    top: 11rem;
}

.card {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25% ;
    left: 25%;
    /* display: none; */
}

.error-icon {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: calc(50% - 3rem);
    top: 1rem;
}

@media (max-width: 850px) {
    .container {
        background-color: rgba(128, 128, 128, 0.11);
        position: relative;
    }
}

@media (min-width: 850px) {
    body {
        padding: 2rem 8rem;
    }
    .game-heading {
        top: 3rem;
    }
    .player-div__1,.player-div__2 {
        display: inline-block;
        width: 50%;
        height: 100%;
        text-align: center;
        
    }
    
    .player-div__1 {
        background-color: rgba(128, 128, 128, 0.247);
       
    }
    
    .player-div__2 {
        background-color: rgba(128, 128, 128, 0.103);
        position: relative;
    }
    
    .help-icon__sm {
        display: none;
    }

    .player-heading {
        color: #D4AF37;
        top: 2.5rem;
    }

    .mark::after {
        display: inline-block;
        content: "";
        width: 1rem;
        height: 1rem;
        margin: 4px 8px 4px 8px;
        border-radius: 50%;
        background-color: black;
    }

    .player-heading__sm {
        display: none;
    }

    .poker-table {
        top: 25.5%;
        left: 20%;
        width: 60vw;
        height: 45vh;
        border-radius: 500px;
    }
    .card {
        width: 40%;
        height: 80%;
        top: 10% ;
        left: 30%;
    }

   .model {
       max-width: 50vw;
       height: 50vh;
   }
}

.game-heading:hover {
    color: yellow;
}